// variable

// * basic color
$blackColor: #242424;
$whiteColor: #FCFCFC;
$grayColor: #676767;
$lineColor: #C3C3C3;

// * point color 
$cumin: #913D1B;
$cocoa: #DC651A;
$orange: #EF9A48;
$lightOrange: #F4BF7D;
$beige: #FFEDD4;
$different: #FF0000;

// 폰트
$bigTitle: 26px;
$title: 20px;
$subTitle: 18px;
$content1: 16px;
$content2: 14px;
$content3: 13px;
$footer: 11px;


$freeExtraLight: "freeExtraLight";
$freeLight: "freeLight";
$freeRegular: "freeRegular";
$freeMedium: "freeMedium";
$freeSemi: "freeSemi";
$freeBold: "freeBold";
$freeExtra: "freeExtra";

// radius
$radius1: 65px;
$radius2: 20px;
$radius3: 8px;

// 디스플레이 넓이
$width1: calc(100% - 60px);
$width2: calc(100% - 240px);
$width3: calc(100% - 190px);

// line height

$lineHeight: 120%;
